@import "../colors";

@mixin pulsating-halo($name) {
  @keyframes #{$name} {
    0% {
      box-shadow: 0 0 5px 0 $white;
    }
    50% {
      box-shadow: 0 0 15px 0 $white;
    }
    100% {
      box-shadow: 0 0 5px 0 $white;
    }
  }
}
